@media screen and (min-width: 80em) {
  .grid__col_1_xl,
  .grid__col_1-1_xl,
  .grid__col_1-2_xl,
  .grid__col_1-3_xl,
  .grid__col_2-3_xl,
  .grid__col_1-4_xl,
  .grid__col_3-4_xl,
  .grid__col_1-5_xl,
  .grid__col_2-5_xl,
  .grid__col_3-5_xl,
  .grid__col_4-5_xl,
  .grid__col_5-5_xl,
  .grid__col_1-6_xl,
  .grid__col_5-6_xl,
  .grid__col_1-8_xl,
  .grid__col_3-8_xl,
  .grid__col_5-8_xl,
  .grid__col_7-8_xl,
  .grid__col_1-12_xl,
  .grid__col_5-12_xl,
  .grid__col_7-12_xl,
  .grid__col_11-12_xl,
  .grid__col_1-24_xl,
  .grid__col_2-24_xl,
  .grid__col_3-24_xl,
  .grid__col_4-24_xl,
  .grid__col_5-24_xl,
  .grid__col_6-24_xl,
  .grid__col_7-24_xl,
  .grid__col_8-24_xl,
  .grid__col_9-24_xl,
  .grid__col_10-24_xl,
  .grid__col_11-24_xl,
  .grid__col_12-24_xl,
  .grid__col_13-24_xl,
  .grid__col_14-24_xl,
  .grid__col_15-24_xl,
  .grid__col_16-24_xl,
  .grid__col_17-24_xl,
  .grid__col_18-24_xl,
  .grid__col_19-24_xl,
  .grid__col_20-24_xl,
  .grid__col_21-24_xl,
  .grid__col_22-24_xl,
  .grid__col_23-24_xl,
  .grid__col_24-24_xl {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .grid__col_1-24_xl {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .grid__col_1-12_xl,
  .grid__col_2-24_xl {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .grid__col_1-8_xl,
  .grid__col_3-24_xl {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .grid__col_1-6_xl,
  .grid__col_4-24_xl {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .grid__col_1-5_xl {
    width: 20%;
    *width: 19.9690%;
  }

  .grid__col_5-24_xl {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .grid__col_1-4_xl,
  .grid__col_6-24_xl {
    width: 25%;
    *width: 24.9690%;
  }

  .grid__col_7-24_xl {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .grid__col_1-3_xl,
  .grid__col_8-24_xl {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .grid__col_3-8_xl,
  .grid__col_9-24_xl {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .grid__col_2-5_xl {
    width: 40%;
    *width: 39.9690%;
  }

  .grid__col_5-12_xl,
  .grid__col_10-24_xl {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .grid__col_11-24_xl {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .grid__col_1-2_xl,
  .grid__col_12-24_xl {
    width: 50%;
    *width: 49.9690%;
  }

  .grid__col_13-24_xl {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .grid__col_7-12_xl,
  .grid__col_14-24_xl {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .grid__col_3-5_xl {
    width: 60%;
    *width: 59.9690%;
  }

  .grid__col_5-8_xl,
  .grid__col_15-24_xl {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .grid__col_2-3_xl,
  .grid__col_16-24_xl {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .grid__col_17-24_xl {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .grid__col_3-4_xl,
  .grid__col_18-24_xl {
    width: 75%;
    *width: 74.9690%;
  }

  .grid__col_19-24_xl {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .grid__col_4-5_xl {
    width: 80%;
    *width: 79.9690%;
  }

  .grid__col_5-6_xl,
  .grid__col_20-24_xl {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .grid__col_7-8_xl,
  .grid__col_21-24_xl {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .grid__col_11-12_xl,
  .grid__col_22-24_xl {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .grid__col_23-24_xl {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .grid__col_1_xl,
  .grid__col_1-1_xl,
  .grid__col_5-5_xl,
  .grid__col_24-24_xl {
    width: 100%;
  }
}
